opencv-python
opencv-contrib-python
opencv-python-headless
streamlit
gradio
transformers
diffusers
pypinyin
einops
basicsr
realesrgan
sentencepiece
fifty
timm
fairscale
git+https://github.com/openai/CLIP.git